<h1>Productos</h1>
<!-- Aqui van los productos -->

<div class="productContainer">
  <div
    class="producto-card"
    (click)="addItem({ productId: 1, productName: 'Arroz', productPrice: 12 })"
  >
    <h3>Arroz</h3>
    Precio: $12
  </div>

  <div
    class="producto-card"
    (click)="
      addItem({ productId: 2, productName: 'Frijoles', productPrice: 25 })
    "
  >
    <h3>Frijoles</h3>
    Precio: $25
  </div>

  <div
    class="producto-card"
    (click)="
      addItem({ productId: 3, productName: 'Tortilla', productPrice: 1 })
    "
  >
    <h3>Tortilla</h3>
    Precio: $1
  </div>
</div>

<h1>Carrito de compras con RXJS</h1>
<ng-container *ngIf="cart$ | async as cart">
  <div class="carrito">
    <ul *ngFor="let item of cart">
      <li>
        {{ item.productName }} –
        <input
          #qty
          min="1"
          max="100"
          class=""
          type="number"
          [value]="item.productQty"
          (change)="updateItem(+qty.value, item.productId)"
        />
        units - {{ item.productPrice }} U$ – Total:
        {{ item.productPrice * item.productQty }} U$ &nbsp;&nbsp;
        <a class="deleteBtn" (click)="deleteItem(item.productId)">X</a>
      </li>
    </ul>
  </div>
</ng-container>
